*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-image{
    background-image: url("pxfuel.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size:cover;
}
.font-nunito{
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    position: relative;
    top: 30vh;
    left: 25vw;
    color: rgb(212, 221, 165);
}
.text-1, .text-2{
    font-weight: 900;
}
.text-2
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.text-3{
    font-size: 1rem;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}


.rakesh{
    position:absolute;
    height: 50%;
    width: auto;
    top:30vh;
    left:70vw;
    border-radius: 30%;
}
.flex-1{
    display: flex;
    flex-direction: row;
    gap: 150px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 50px;
}
li{
    margin: 30px;
    font-size: 1.3rem;
    color: #fff;
}
li:hover{
    font-size: 1.6rem;
    color:#e8e351;
    transition: 0.45s;
}

.nav-bar{
}
.button {
    width: 40%;
    height: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: block;
    line-height:1.1;
  }
  
  svg {
    position: absolute;
    top: 0;
    left: 0;
    border-radius:25px;
    z-index:1;
  }
  
  path {
    stroke-width: 2;
    stroke: #fff;
    fill: none;
    stroke-dasharray: 460;
    -webkit-transition: -webkit-transform 1s linear;
    -moz-transition: -moz-transform 1s linear;
    transition: transform 1s linear;
  }
  
  .button:hover {
    cursor: pointer;
  }
  
  svg:hover path {
      animation: dash 2s reverse cubic-bezier(0.45, 0.03, 0.51, 0.95) 0s infinite; 
      -webkit-animation: dash 2s reverse cubic-bezier(0.45, 0.03, 0.51, 0.95) 0s infinite;
      -moz-animation: dash 2s reverse cubic-bezier(0.45, 0.03, 0.51, 0.95) 0s infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;}
  
  @-webkit-keyframes dash{
      to {
        fill: transparent;
        stroke: #ffffff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dashoffset: 600;
        stroke-dasharray: 600 0;
        }
    }
  @keyframes dash{
      to {
        fill: transparent;
        stroke: #ffffff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dashoffset: 600;
        stroke-dasharray: 600 0;
        }
    }
  @-moz-keyframes dash{
      to {
        fill: transparent;
        stroke: #ffffff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dashoffset: 600;
        stroke-dasharray: 600 0;
        }
    }
   
    .skills {
      background-color: #1e2429;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  h1 {
      font-family: 'Domine', serif;
      font-weight: 600;
      color: #fff;
  }
  
  .flex-2 {
      display: flex;
      flex-direction: row;
      gap: 20px;
      color: #fff;
      margin-top: 20px;
  }
  
  .html-logo,
  .css-logo,
  .js-logo,
  .bootstrap-logo,
  .cpp-logo,
  .mysql-logo {
      background-color: #fff;
      border-radius: 50%;
      height: 20vh;
      width: 20vh;
  }
  
  .horizon {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
  }
  

  #contact{
    width: 100%;
    background-color: #475b66;

}
.contact-container{
    width:85%;
    margin:0 7.5%;

}
.contact-heading{
    color:rgb(248, 242, 245);
    font-size: 4rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 2rem;
}
.contact-subheading{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}
.contactus-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width:70%;
    display: flex;
    flex-direction: column;
    gap:1rem;  
    justify-content: center;
    align-items: center;
}

.form-field-container{
    width:90%;
    display: flex;
    flex-direction: column;
    gap:1rem;  
}
.form-field{
    background-color: #e1ebf1;  
    box-shadow: 3px 1px 10px 4px rgba(0,0,0,0.75);
    border-radius: 0.4rem;
    height:2rem;
    padding: 0.7rem 1rem;
    border: none;
}
.form-textarea{
    height:auto;
}
.submit-btn{
    display: flex;
    height:3rem;
    width:12rem;
    justify-content: center;
    align-items: center;
    gap:0.4rem;
    margin-bottom: 2rem;
}

button i{
    font-size: 1.6rem;
    color: #f5f5f5;
}
#footer{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.9529936974789917) 64%, rgba(44,73,88,1) 100%);
    width:100%;
    padding:1.5% 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footerlogo{
    height:100%;
    width:100%;
    border-radius:45%;
}
#footer a{
    width:10%;
}
.copyright{
    font-size: 1.2rem;
    color:#f5f5f5;
}

@media(max-width:800px){
    #home{
        height:auto;
    }
    #about{    
        display: flex;
        flex-direction: column;
        height:auto;
        margin-top: 2rem;

    }
    .left-about{
        align-items: center;

    }
    .about-heading{
        font-size: 1.3rem;
    }
    .myprofileimage img{  
        left:auto;
        margin:2rem 10%;
        z-index: 0;
        border-radius: 60%;

    } 

    .wave-shape-home{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .wave-shape-home svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 0px;
    }
    
    .wave-shape-home .shape-fill {
        fill: #FFFFFF;
    }

    .dropbtn {
        background-color: #131313;
        color: white;
        padding: 6px;
        font-size: 15px;
        border: none;
        cursor: pointer;
        opacity: 1;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color: #090909;
      }

      
      .dropdown {
        position: relative;
        display: inline-block;
        background-color: #180f0f;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #0b0b0b;
        min-width: 100px;
        overflow:none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: rgb(239, 237, 237);
        padding: 12px 5px;
        text-decoration: none;
        display: block;
      }
      
      .show {
        display: block;
    }

    .header-project{
        font-size: 4rem;
    }
    .project-container{
        gap:0.5rem;
    }
    .project-card{
        margin:1rem 0 1rem 0;
        gap:1rem;
        width:100%;
        height:30%;
    }
    .project-no{
        font-size: 4rem;
    }
    .project-no:hover{
        transform: scale(1);
    }
    .project-content:hover{
        transform: scale(1);
    }
    #project1{
        background-image: none;
        background-size: cover;
    }
    #project2{
        background-image: none;
        background-size: cover;
        margin: 0 auto;
    }
    #project3{
        background-image: none;
        background-size: cover;
        margin-bottom: 5%;
    }
    .project-skills-separator{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .project-skills-separator svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 0px;
    }
    
    .project-skills-separator .shape-fill {
        fill: #FFFFFF;
    }
    #skill{
        padding:1rem;

    }
    .skill-card{
        display: flex;
        flex-direction: column;
        margin:2% 2%;
    }
    .skill-text{
        width:100%;
        padding:6px;
        font-size: 1rem;
        transition: none;
        margin:2% 2%;
    }
    .skill-text:hover{
        transform:scale(1);
    }
    .skill-images{
        gap:1rem;
        height:50%;
        width: 96%;
        margin:5%;
        padding: 6px;
    }
    .skill-images:hover{
        transform:scale(1.02);
    }
    .custom-shape-divider-bottom-1692534094r{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1692534094 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 0px;
    }
    
    .custom-shape-divider-bottom-1692534094 .shape-fill {
        fill: #FFFFFF;
    }

    #footer{
        flex-direction: column;
        gap:1rem;
    }
    #footer a{
        width:20%;
    }
    .copyright{
        font-size: 1rem;
    }
    .social-links{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .footer-link{
        font-size: 2rem;

    }
}
@media((min-width:801px) and (max-width:1000px)){
    .project-card{
        width:100%;
    }
    #project2{
        margin:0 auto;
    }
    .skill-card{
        margin:2.5% 2.5%; 
 
    }
    .skill-text{
        width: 48%;
        margin:2%;
        font-size: 1rem;
    }
    
    .skill-text:hover{
        transform:scale(1.02);
    }
    #footer{
        flex-direction: column;
        gap:1rem;
    }
    #footer a{
        width:15%;
    }
    .copyright{
        font-size: 1rem;
    }
    .social-links{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .footer-link{
        font-size: 2rem;

    }}


    #projects{
        width: 100%;
        background-color: rgb(18, 22, 28)  ;
        padding: 2.5% 7.5%; 
        position: relative;
    }
    .header-project{
        color:hsla(333, 100%,45%, 1);
        font-size: 4rem;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    .project-container{
        display:flex;
        flex-direction: column;
        gap:1rem;
    }
    .project-card{
        display:flex;
        flex-direction: column;
        margin:2rem 0 3rem 0;
        gap:1rem;
        width:70%;
        height:30%;
        border: 2px solid white;
        position: relative;
        z-index:1;
        border-radius: 1rem;
    }
    .project-card::before{
        content:"";
        background: linear-gradient(rgba(0, 1, 3, 0.5),rgba(0, 0, 14, 0.5));
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        transform:scaleX(0);
        transition: all 0.8s;
        transform-origin: left;
        z-index: -1;
    }
    .project-card:hover::before{
        transform:scaleX(1);
    }
    
    .project-no{
        font-size: 4.5rem;
        font-weight: 600;
        transition: all 0.8s;
    }
    .project-no:hover{
        transform: scale(1.1);
    }
    .project-content{
        color: #ffffff;
        display:flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        transition: all 0.8s;
    }
    .project-content:hover{
        transform: scale(1.02);
    }
    .project-skills{
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: baseline;
    
    }
    .project-skills img{
        height:10%;
        width:10%;
        object-fit: cover;
        
    }
    .project-heading{
        font-size: 2.3rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
    .project-subheading{
        font-weight: 600;
    } 
    
    #project1{
        background-image: url(./images/tindog2img.png);
        background-size: 100%;
    }
    #project2{
        background-image: url(./images/indianzaykaimg.jpg);
        background-size: 100%;
        margin-left: 30%;
    }
    #project3{
        background-image: url(./images/blackjackimg.png);
        background-size: 100%;
        margin-bottom: 10%;
    }
    
    .btn-group{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    i{
        font-size: 3rem;
        color: rgb(246, 209, 214);
    }

    .project-skills-separator {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    .project-skills-separator svg {
        position: relative;
        display: block;
        width: calc(126% + 1.3px);
        height: 127px;
    }
    
    .project-skills-separator .shape-fill {
        fill: rgb(22, 31, 43);
    }